{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Log{% endblock %}</h1>
{% endblock %}

{% block content %}
{% for device in devices %}
<p>
  <a class="btn btn-primary" data-toggle="collapse" href={{ "#collapse" + device[0]}} role="button" aria-expanded="false" aria-controls="collapseExample">
    {{ device[0] }}
  </a>
</p>
<div class="collapse" id={{ "collapse" + device[0]}}>
  <div class="card card-body">
  	{{ logs[device[0]] | safe }}
  </div>
</div>
{% endfor %}
{% endblock %}